.absolute {
    position: absolute;
    z-index: 10000;
}

.relative {
    position: relative !important;
}

.reds {
    display: inline-block;
    color: red !important;
    font-size: 14pt !important;
    transform: translateY(3px) !important;
}

.redsDefault {
    display: inline-block;
    font-size: 10px !important;
    transform: translateY(-5px) !important;
}


.inBox {
    width: 100%;
}

.TR {
    top: 7.5px;
    right: 10px;
}
.TL {
    z-index: 100;
    top: calc(1% + 0px);
    left: calc(1% + 3px);
}

.BRI {
    bottom: calc(1% + 0px);
    right: calc(2% + 5px);
}

.RB {
    bottom: 10px;
    right: 10px;
}

.marginRight {
    margin-right: 5px !important;
}

.marginRightTwo {
    margin-right: 20px !important;
}

.marginLeft {
    margin-left: 5px !important;
}

.marginLeftTwo {
    margin-left: 20px !important;
}

.marginBottom {
    margin-bottom: 5px !important;
}

.marginTop {
    margin-top: 5px !important;
}

.inline_bolck {
    display: inline-block;
    vertical-align: top;
}


.textAlign-right {
    text-align: right;
}

.textAlign-center {
    text-align: center !important;
}

.textAlign-left {
    text-align: left;
}

.form .readOnly {
    background-color: #EEE !important;
    cursor: not-allowed;
}

.form .readOnly:focus {
    border: 1px solid rgba(34, 36, 38, .15) !important;
}

.font_medium {
    font-size: 12pt;
}

.cursor_pointer,
.flag {
    cursor: pointer;
}

.modalTL {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline.fields>label:nth-child(1) {
    width: 100px !important;
    text-align: center;
}

.inline.fields>label:nth-child(2) {
    font-size: 12px !important;
    width: 100px !important;
    text-align: center;
}

.inline.fields>label:nth-child(4) {
    font-size: 12px !important;
    width: 70px !important;
    text-align: center;
}

.inline.fields>.field>label {
    width: 100px !important;
    text-align: center;
}
label {
    font-size: 13px !important;
}



.scroll {
    /* 옵션추가 및 레시피 창 스크롤 */
    overflow-y: auto;
}

.gridHeight2 {
    /* 옵션추가창 높이 */
    max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
}

.gridHeight1 {
    /* 레시피 창 높이 */
    max-height: calc(100vh - 180px);
    min-height: calc(100vh - 180px);
}

.gridHeightForm {
    max-height: calc(100vh - 430px);
    min-height: calc(100vh - 430px);
    overflow-x: hidden;
}

.gridHeightForm2 {
    max-height: calc(100vh - 255px);
    min-height: calc(100vh - 255px);
    overflow-x: hidden;
}

.ui.toggle.checkbox input:checked~.coloring.positive:before,
.ui.radio.checkbox input:checked~.coloring.positive::after {
    background: #21ba45 !important;
}

.white {
    color: white !important;
    cursor: default !important;
}

.defaultCursor {
    cursor: default !important;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.dis {
    color: #00000030 !important;
}

.button>button {
    margin-bottom: 0px !important;
}

.imgZone>.column.relative,
.imgZone>.ui.grid.four.column,
.imgZone>.ui.grid.column .row .column {
    padding: 5px !important;
}
.imgZone>.ui.grid.column .row,
.optionDis>.row {
    padding:  0px !important;
}
.fileZone>button {
    margin-bottom: 0px !important;
}

.dragging {
    opacity: 0;
}
.draggable img , .draggable video {
    min-width: 100% !important;
    min-height: 100%  !important;
}
.noe {
    display: none !important;
}